page-about {
.card{
    box-shadow: 2px 2px 4px;
  

}
.text{
    position: absolute;
     margin-top: 10px;  
}
.image{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(199, 194, 194, 0.7)), url('../../assets/concert2.jpg');
    background-size: cover;
    position: relative;

    background-repeat: no-repeat;
    height: 25vh;
    margin-top: 10px;
    color: whitesmoke;
    box-shadow:inset 0px 2px 0px red;
    // max-width: 100px;
}
.image1{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(218, 203, 203, 0.7)), url('../../assets/concert.jpg');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 25vh;
    color: whitesmoke;
    box-shadow:inset 0px 2px 0px red;
}
.image2{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(177, 169, 169, 0.7)), url('../../assets/colorrun.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    color: whitesmoke;
    box-shadow:inset 0px 2px 0px red;
}
.image3{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(133, 119, 119, 0.7)), url('../../assets/club_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    color: whitesmoke;
    box-shadow:inset 0px 2px 0px red;
}
}
