page-home {
img{
    // position: fixed;
   
    // margin-right: 30px;
    // margin-top: 5px;
    height: 26vh;
    background-size: cover;
    width: 170px;
    // border-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.card{
    box-shadow: 2px 2px 3px 1px ;
    margin-bottom: 10px;
    position: relative;
    border-radius: 20px;
    margin: 10px;
    height: 26vh;
}
.content{
    float: right;
    margin-right: 40px;
    margin-top: 10px;
  
}
.item{
    box-shadow: 2px 2px 3px;
}
.butt{
    left: 110px;
    top: 10px;
  
    
}
}
